<form method="POST" class="cat-form">
  <h2>Shelter the cat</h2>
  <img name="imageUrl" src="%%imageUrl%%" alt="%%name%%" />
  <label for="name">Name</label>
  <input name="name" type="text" id="name" value="%%name%%" disabled />
  <label for="description">Description</label>
  <textarea name="description" id="description" disabled>%%description%%</textarea>
  <label for="group">Breed</label>
  <select name="breed" id="group" disabled>
    <option value="%%breed%%">%%breed%%</option>
  </select>
  <button>SHELTER THE CAT</button>
</form>
