{{#if isSearch}}
<section id='search'>
  <h1>Search</h1>
  <form action='' method='' class='form'>
    <input type='text' class='search' name='search' placeholder='Title...' />
    <input type='text' name='' class='genre' placeholder='Genre...' />
    <input type='number' name='' class='year' placeholder='Year...' />
    <input type='submit' value='search' />
  </form>
</section>
{{/if}}
<section id='catalog'>
  <h1>All Movies</h1>
  <div class='band'>
    {{#each movies}}
    {{> movieCard}}
    {{else}}
    <div class="no-posts">
      <p class="no-offer">There are no posts yet...</p>
    </div>
    {{/each}}
  </div>
</section>