<section class="volcano-catalog">
    <h1 id="title"><span>Volcano</span> Catalog</h1>
    <div class="item-list">
        {{#each volcanoes}}
        {{> volcanoCard}}
        {{else}}
        <div class="no-volcano">
            <p>There are no volcano found yet!</p>
        </div>
        {{/each}}
    </div>

</section>