<section class="volcano-search">
    <h1>Search</h1>

    <form class="search-form" action="/volcanoes/search/filter" method="GET">
        <input type="text" class="search-volcano" name="name" placeholder="Search by Name..." value="{{name}}">
        <select id="type" name="typeVolcano">
            {{#each options}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}>{{value}}</option>
            {{/each}}
        </select>
        <button type="submit" class="btn-search">Search</button>
    </form>

    <div class="search-result">
        <div class="search-list">

            {{#each volcanoes}}
            {{> volcanoCard}}

            {{else}}
            <div class="no-match">
                <p>No match was found!</p>
            </div>
            {{/each}}

        </div>
    </div>
</section>