<div class="error-container">
  <h2>404</h2>
  <p>Oops! The page you're looking for doesn't exist.</p>
  <p>It seems you've reached a black hole in the cosmos.</p>
  <a href="/">Go Back Home</a>
  <a href="/planets/catalog">Visit Catalog</a>
</div>