<form class="login-form" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" value="{{userInput.username}}" />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" />

  <button type="submit">Login</button>
  <p class="signup">Don't have an account? <a href="/users/register">Sign up here</a></p>
</form>