<form class="register-form" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{userInput.username}}">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{userInput.email}}">

    <label for=" password">Password:</label>
    <input type="password" id="password" name="password">

    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="rePass">

    <button type="submit">Register</button>
    <p class="login">Already have an account? <a href="/users/login">Login here</a></p>
</form>